Source: master-slave-detector
Section: unknown
Priority: extra
Maintainer: Anton Matveenko <antmat@nigma.ru>
Build-Depends: debhelper (>= 7.0.50~), erlang(>= 1:15.b.1-dfsg-1~bpo60+1)
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/master-slave-detector.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/master-slave-detector.git;a=summary

Package: master-slave-detector
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
